﻿@model IEnumerable<ContactWeb.Models.Contact>

@{
    ViewBag.Title = "Contact Page";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="your_contacts" class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.FirstName)</th>
            <th> @Html.DisplayNameFor(model => model.LastName)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <th> @Html.DisplayNameFor(model => model.PhonePrimary)</th>
            <th> @Html.DisplayNameFor(model => model.PhoneSecondary)</th>
            <th> @Html.DisplayNameFor(model => model.Birthday)</th>
            <th> @Html.DisplayNameFor(model => model.StreetAddress1)</th>
            <th> @Html.DisplayNameFor(model => model.StreetAddress2)</th>
            <th> @Html.DisplayNameFor(model => model.City)</th>
            <th> @Html.DisplayNameFor(model => model.State)</th>
            <th> @Html.DisplayNameFor(model => model.Zip)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.FirstName)</td>
                <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                <td> @Html.DisplayFor(modelItem => item.Email)</td>
                <td> @Html.DisplayFor(modelItem => item.PhonePrimary)</td>
                <td> @Html.DisplayFor(modelItem => item.PhoneSecondary)</td>
                <td> @Html.DisplayFor(modelItem => item.Birthday)</td>
                <td> @Html.DisplayFor(modelItem => item.StreetAddress1)</td>
                <td> @Html.DisplayFor(modelItem => item.StreetAddress2)</td>
                <td> @Html.DisplayFor(modelItem => item.City)</td>
                <td> @Html.DisplayFor(modelItem => item.State)</td>
                <td> @Html.DisplayFor(modelItem => item.Zip) </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>@Html.HiddenFor(modelItem => item.Userid)</td>
            </tr>
        }
    </tbody>

</table>

@section Scripts 
{
<script type="text/javascript">

    //$(function () {
    //    alert('Hello');
    //});
    $(function () {
        $("#your_contacts").dataTable(
            {
                "pagingType": "full_numbers"
                , "scrollY": "600px"
                , "columnDefs": [
                      { "width": "45px", "targets": 0}
                    , { "width": "45px", "targets": 1 }
                    , { "width": "45px", "targets": 2 }
                    , { "width": "45px", "targets": 3 }
                    , { "width": "45px", "targets": 4 }
                    , { "width": "45px", "targets": 5 }
                    , { "width": "45px", "targets": 6 }
                    , { "width": "45px", "targets": 7 }
                    , { "width": "45px", "targets": 8 }
                    , { "width": "45px", "targets": 9 }
                    , { "width": "45px", "targets": 10 }
                    , { "width": "45px", "targets": 11 }
                    , { "width": "45px", "targets": 12 }
                ]
                //column 1 ascending order
                , "order": [[1, "asc"]]
                , "dom": 'Rlfrtip'
                //save the filter and current state of the table
                , "stateSave": "true"
                //save # of contacts per page 10, 20...
                , "lengthMenu": [[-1,10,20,50,100],["All", 10,20,50,100]]
            });

    });
</script>
}


<!--
call viewbag or viewdata to view the variable value    
    <h3>Welcome</h3>

    @*
    @ViewBag.UserName - @ViewBag.UserId
    @ViewData["UserName"] - ViewData["UserId"]
    *@

-->

