﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SKILLSHARE</h1>
    <p class="lead">Online learning community with thousands of classes in design, business, tech, and much more.</p>
    <p><a href="https://www.skillshare.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>*@
        
        <img src="http://www.mukeshkumar.net/Upload/ArticleHeader/Header/aspnetmvc2.jpeg" class="skillshare" />

       
        
        <p><br /><center><a class="btn btn-default" href="https://www.skillshare.com/search?query=asp%20mvc">Learn more &raquo;</a></center></p>
    </div>
    <div class="col-md-4">
        <h2>Java Development</h2>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@

        <img src="https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2018/01/3-2.png" class="skillshare"/>
  
        <p><br /><center><a class="btn btn-default" href="https://www.skillshare.com/search?query=JAVA">Learn more &raquo;</a></center></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
   
        <img src="https://www.one.com/static/images/onecom/2017/Headers/Hosting-Header-Img.svg" class="skillshare"/>

        <p><br /><center><a class="btn btn-default" href="https://www.skillshare.com/search?query=WEB%20HOSTING">Learn more &raquo;</a></center></p>
    </div>
</div>