﻿body {
    padding:50px;
}

.defaultText {
    /**this is default class for text*/
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 12pt;

}

.padRight {
    padding-right: 10px;
}

.skillshare {
    max-width:100%;
    max-height: 50%;
    width: 375px;
    height: 300px;
}
